*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
html{
	scroll-behavior: smooth;
}
h1{
	text-align: center;
}
a{
	text-decoration: none;
}
/* Hamburger style*/
#mobile-nav{
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
	position: relative;
	right: 7%;
}
.mobile-nav_icon{
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #000;
}
/* Head Navigations*/
#header{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	width: 300px;
	padding: 0 15px;
	background: #11131f;
}
.my-profile img{
	/*border-radius: 100%;*/
	padding: 15px;
	width: 100%;
	margin: auto;
}
.social-icons a{
	background-color: #212431;
	padding: 5px 0.7rem;
	border-radius: 50%;
}
.social-icons a:hover{
	background-color: #00a6eb;
}
nav .nav-menu_list{
	list-style-type: none;
	width: 100%;
	text-align: center;
}
nav .nav-menu_list-items{
	padding: 5px 0;
}
.nav-menu_list-items a{
	text-decoration: none;
	color: #fff;
	/*font-weight: bold;*/
}
/* Home */
#home{
	/*background: url(../images/header_1.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	max-width: 100%;*/
	position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}
#home .overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
    opacity: .1;
    width: 50%;
    /*height: 20%;*/
    /*background: #3e64ff;*/
    background: #1f5297;
}
#home .home-content_greet{
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 0;
	font-size: 20px;
}
#home .home-content_title{
	font-size: 60px;
	font-weight: bold;
}
#home .home-content_description{
	font-weight: bold;
}
/* All Section Title*/
#home h1,#about h1,#tools h1,#resume h1,#project h1{
	padding: 20px 0;
}
.home-content{
	color: #000;
	position: relative;
	margin-top: 6rem;
	top: 50%;
	text-align: center;
}
.home-content > h3,p{
	font-weight: normal;
}
main{
	margin-top: 20%;
}
/* About */
/*#about{
	background-color: #dddddd5c;
}*/
#about h1{
	margin-bottom: 10px;
}
#about img{
	max-width: 40%;
	display: block;
	margin: auto;
}
.about-content{
	/*font-family: 'Rubik', sans-serif;*/
	font-size: 0.8rem;
	padding: 30px 0;
}
.about-content_title{
	font-size: 1.5rem;
	font-weight: bold;
}
.about-content_description{
	font-size: 18px;
}
/* Tools */
#tools{
	background-color: #f5f4f4;
}
#tools img.icon-tool{
	width: 100px;
	margin: auto;
	filter: grayscale(100%);
	color: #000;
}
#tools div.tools-content > img{
	/*flex-basis: 25%;*/
}
#tools img:hover{
	filter: grayscale(30%);
}
/* Project */
#project .project-content_title{
	margin-bottom: 0;
	padding: 10px 0;
}
.project-content{
	border: 1px solid #666;
	box-shadow: 1px 2px 5px #000;
	/*display: none;*/
}
/* Resume */
#resume{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f4f4;
}
#resume h1{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.resume-title{
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.resume-content-1, .resume-content-2{
	/*display: none;*/
}
#resume .resume-content{
	padding: 0 0 23px 23px;
	font-size: 14px;
	border-left: 2px solid #1f5297;
	position: relative;
}
#resume .resume-content::before{
	content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}
#resume .resume-content > p,ul{
	margin-bottom: 0;
}
#resume .resume-content > h4{
	font-size: 1.2rem;
}
#resume .resume-content > h5{
	padding: 10px;
	background-color: #ddd;
	font-size: 16px;
	display: inline-block;
}
#resume a.btn-cv{
	text-decoration: none;
	border: 1px solid #1f5297;
	padding: 5px 10px;
	display: block;
	margin: 1.2rem auto;
	background-color: #1f5297;
	color: #fff;
}
#resume a.btn-cv:hover{
	background-color: #fff;
	color: #1f5297;
	border: 1px solid #1f5297;
	font-weight: bold;
}
#project img{
	width: 100%;
}
/* btn scroll to top*/
.btn-scroll_top{
	/*border:1px solid #1f5297;*/
	padding: 10px 15px;
	text-decoration: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	display: none;
	z-index: 100;
	border-radius: 50%;
	background-color: #2675e0;
	/*background-color: #08556d;*/
	color: #fff;
}
.btn-scroll_top:hover{
	color: #fff;
}
/* Footer */
#footer{
	background-color: #1f5297;
}
#footer .footer-items{
	display: flex;
}
#footer .footer-item_list{
	display:flex;
}
#footer .footer-social{
	display: flex;
	justify-content: flex-end;
}
.footer-social a{
	padding: 0 5px;
}
#footer .footer-item_text{
	font-size: 1rem;
	font-weight: normal;
	padding: 5px 10px;
}
/* animate */
.animate-m {
    animation-delay: 0s;

}

.animate-1 {
    animation-delay: 0.5s;

}

.animate-2 {
    animation-delay: 1s;
    
}

.animate-3 {
    animation-delay: 1.5s;
    
}

/* Mobile responsive */

/* mobile view*/
@media (min-width: 280px){
	.home-content{
		top: 30%;
	}
	#home .home-content_title{
		font-size: 40px;
	}
	#home .home-content_description{
		font-size: 25px;
	}
	main{
		margin-top: 78%;
	}
	#about img{
		display: none;
	}
	.about-content_title{
		font-size: 2.25rem;
	}
	.about-content_description{
		font-size: 1rem;
	}
	.footer-items{
		flex-direction: column;
	}
	#footer .footer-social{
		justify-content: flex-start;
	}
}
@media (min-width: 320px){
	main{
		margin-top: 78%;
	}
	.footer-items{
		flex-direction: column;
	}
	#footer .footer-social{
		justify-content: flex-start;
	}
}
@media (min-width: 375px){
	main{
		margin-top: 66%;
	}
}
@media(min-width: 425px){
	main{
		margin-top: 59%;
	}
}
/* Table View */
@media (min-width: 768px){
	main{
		margin-top: 32%;
	}
	.home-content{
		top: 50%;
	}
	#about img{
		display: block;
	}
	/*.about-content_description{
		font-size: 14px;
	}*/
	.footer-items{
		flex-direction: column;
	}
	#footer .footer-social{
		justify-content: flex-end;
	}
}

/* Desktop View */
@media (min-width: 1024px){
	main{
		margin-top: 27%;
	}
	.footer-items{
		flex-direction: row;
	}
	/*.about-content_description{
		font-style: 18px;
	}*/
}